* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
}

html {
    scroll-behavior: smooth;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; 
    color: white;
    font-size: 12px; 
}

.h-txt{
    color: white;
}
.info-icons {
    display: flex;
    gap: 10px; 
}

.info-icons i {
    color: orange;
    
    
}

.info-icons i::before {
    margin-right: 5px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.social-icons a {
    color: white; 
    font-size: 18px; 
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #F29A33; 
}

@media (max-width: 768px) {
    .header-bar {
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .info-icons {
        flex-direction: column;
        align-items: flex-start; 
        text-align: left;
        gap: 5px;
    }

    .social-icons {
        justify-content: flex-end; 
        flex-direction: row;
    }

    .info-icons i {
        font-size: 14px; 
    }
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #1a1a1a;
}

.logo img{
             width: 80px;
             height: 80px;
             background-color: white;
             border-radius: 60%;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}






.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, black 60%, #aa6e2c 40%);
    height: 100vh;
    
   
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
}

.hero-content h2 {
    color: #F29A33;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.2;
}

.hero-content p {
    margin: 20px 0;
    font-size: 18px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.book-table {
    background-color: #F29A33;
    color: white;
}

.book-table:hover{
    background-color: white;
    color: #eb9538;
}

.menu-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}

.menu-btn:hover{
    background-color: #ffff;
    color: orange;
}

.hero-image img {
 margin-right: 200px;

}


@media (max-width: 768px) {
    .header-bar {
      flex-direction: column;
      padding: 10px 20px;
    }
  
    .header-bar i {
      margin: 5px 0;
      font-size: 12px;
    }
  
    nav {
      flex-direction: column;
      padding: 15px 20px;
    }
  
    nav ul {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  
    .hero {
      flex-direction: column;
      padding: 20px;
      background: linear-gradient(to bottom, black 60%, #aa6e2c 40%);
      height: auto;
      text-align: center;
    }
  
    .hero-content h1 {
      font-size: 32px;
    }
  
    .hero-content h2 {
      font-size: 36px;
    }
  
    .hero-content p {
      font-size: 16px;
    }
  
    .buttons {
      margin-top: 15px;
    }
  
    .hero-image img {
      width: 80%;
      height: auto;
      margin-right: 0;
      margin-top: 20px;
    }
  }
  
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .header-bar {
      padding: 10px 30px;
    }
  
    nav {
      padding: 15px 30px;
    }
  
    .hero {
      flex-direction: column;
      padding: 30px;
      background: linear-gradient(to bottom, black 60%, #aa6e2c 40%);
      height: auto;
    }
  
    .hero-content h1 {
      font-size: 36px;
    }
  
    .hero-content h2 {
      font-size: 40px;
    }
  
    .hero-content p {
      font-size: 18px;
    }
  
    .buttons {
      margin-top: 15px;
    }
  
    .hero-image img {
      width: 90%;
      height: auto;
      margin-right: 0;
      margin-top: 20px;
    }
  }
  



  /*-----------------------------------About section---------------*/


  .about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
   
    
    border: 1px solid #ddd;
}


.about-content {
    flex: 1;
    padding-right: 50px;
}

.about-content h3 {
    color: #F29A33;
    font-size: 24px;
    margin-bottom: 10px;

    
    width: 80px;
    border-top:2px solid #F29A33;
}

.about-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1a1a1a;
    font-weight: bolder;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
    text-align: justify;
}

.read-more {
    color: #F29A33;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
}

.about-image {
   
    position: relative;
    
}

.about-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 10px solid #d4a476;
    background-color: #f5e1d0;
    
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .about-content {
        padding-right: 0;
        text-align: center;
    }

    .about-image {
        margin-top: 20px;
    }
}






/*-----------------------Menu section--------------------------------*/


.menu-section {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
}



.menu-header h4 {
    color: #F29A33;
    font-size: 24px;
    margin-bottom: 10px;
}


.menu-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: black;
}

.menu-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.tab {
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    border-radius: 5px;
}

.tab:hover{
            color: white;
            background-color: #000;
            border-radius: 5px;
}

.tab.active {
    background-color: #F29A33;
    color: white;
}

.menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.menu-item {
    text-align: center;
    width: 250px;
}



.menu-item img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.menu-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: #F29A33;
}



@media (max-width: 768px) {
    .menu-header h2 {
        font-size: 28px;
    }

    .menu-item {
        width: 200px;
    }

    .menu-item img {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .menu-header h2 {
        font-size: 24px;
    }

    .menu-item {
        width: 100%;
    }

    .menu-item img {
        height: 200px;
        width: 200px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .tab {
        padding: 8px 15px;
        font-size: 14px;
    }
}




/*---------------------------Special Dish--------------------------------*/


.special-dish {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.special-dish h2 {
    color: #d99223;
    font-size: 1.5rem;
}

.special-dish h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #000;
}

.dish-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.dish-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease;
}

.dish-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.dish-item h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #333;
}

.dish-item p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

.dish-item .price {
    font-weight: bold;
    font-size: 1.2rem;
    color: #000;
}

.dish-item:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .dish-container {
        flex-direction: column;
    }

    .dish-item {
        width: 80%;
        margin-bottom: 20px;
    }
}




/*------------------Booking section--------------------*/

.booking-section {
    position: relative;
    height: 100vh;
    background: url('images/food-bg.jpg') no-repeat center center/cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
}

.booking-form {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: rgba(1, 1, 1, 0.9);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;

    border-top: 2px solid orange;
    width: 290px;

    
    
}

.booking-form form input,
.booking-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.booking-form form input{
    position: relative;
    padding-right: 40px;
}

.booking-form form button {
    width: 100%;
    padding: 10px;
    background-color: #d99223;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.booking-form form button:hover {
    background-color: #ffffff;
    color: #d99223;
}

@media (max-width: 768px) {
    .booking-form {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}





/*-------------------------------special offers---------------------------------------*/

.special-offers {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    flex-wrap: wrap; 
}

.offers-left {
    flex: 1;
    margin-top: 80px;
}

.offers-left h3 {
    color: #d99223;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.offers-left h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: black;
}

.offer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.offer-item:hover {
    transform: scale(1.05);
}

.offer-content {
    display: flex;
    align-items: center;
}

.offer-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.offer-info h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #333;
}

.offer-info p {
    font-size: 0.9rem;
    color: #666;
}

.offer-price {
    text-align: right;
}

.offer-price .new-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d99223;
}

.offer-price .old-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: #999;
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 300px;
    height: 300px;
    position: relative;
}

.image-grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.icon {
    position: absolute;
    top: 60%;
    left: 60%;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
}


@media (max-width: 768px) {
    .special-offers {
        flex-direction: column;
        padding: 30px;
        height: auto;
    }

    .offers-left {
        margin-top: 30px;
    }

    .offer-content img {
        width: 60px;
        height: 60px;
    }

    .offer-info h2 {
        font-size: 1.3rem;
    }

    .offer-price .new-price {
        font-size: 1.3rem;
    }

    .offer-price .old-price {
        font-size: 0.9rem;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        width: 250px;
        height: 250px;
    }

    .image-grid img {
        width: 120px;
        height: 120px;
    }

    .icon {
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
    }

    .icon img {
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 480px) {
    .special-offers {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .offers-left h1 {
        font-size: 2rem;
    }

    .offers-left h3 {
        font-size: 1rem;
    }

    .offer-item {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .offer-content img {
        width: 50px;
        height: 50px;
        margin-top: 40px;
       
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .offer-info h2 {
        font-size: 1.2rem;
    }

    .offer-info p {
        font-size: 0.8rem;
    }

    .offer-price {
        text-align: center;
        margin-top: 10px;
    }

    .offer-price .new-price {
        font-size: 1.2rem;
    }

    .offer-price .old-price {
        font-size: 0.8rem;
    }

    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 200px;
        height: 200px;
    }

    .image-grid img {
        width: 100px;
        height: 100px;
    }

    .icon {
        top: 42%;
        left: 42%;
        width: 40px;
        height: 40px;
    }

    .icon img {
        width: 25px;
        height: 25px;
    }
}






/*---------------------------feedback section--------------------------*/

.feedback-section {
    background-color: #0000007f;
    padding: 50px 0;
    background-image: url(images/bowl-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; 
    color: white;
    text-align: center;
    padding: 40px;
    position: relative;
}

.feedback-section h1,
.feedback-section h2 {
    color: white;
  
    padding: 10px;
    margin-bottom: 10px;
}

.feedback-section h1 {
    font-size: 36px;
}

.feedback-section h2 {
    font-size: 28px;
    margin-bottom: 40px;
}


.feedback-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card p {
    color: #333;
}


.profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 0;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 768px) {
    .feedback-section h1 {
        font-size: 28px;
    }

    .feedback-section h2 {
        font-size: 22px;
    }

    .feedback-cards {
        flex-direction: column; /
    }

    .card {
        width: 100%;
        max-width: 350px; 
        margin: 0 auto 20px; 
    }
}


@media (max-width: 480px) {
    .feedback-section h1 {
        font-size: 24px;
    }

    .feedback-section h2 {
        font-size: 18px;
    }

    .card {
        padding: 15px;
    }

    .profile {
        width: 60px;
        height: 60px;
    }
}


/*--------------------------------next section------------------------*/



.circles {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    color: black;
    text-align: center;
    padding: 50px 0;
    height: auto; 
}

.circle-item {
    text-align: center;
}

.circle01 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle01 h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.circle-item p {
    font-size: 18px;
    color: #333;
    margin-top: 0;
}

.newsletter-section {
    background-color: #d99223;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.newsletter-section i {
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.newsletter-title {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.newsletter-text {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    max-width: 400px;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.email-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    color: #d99223;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.newsletter-section p {
    font-size: 14px;
    color: white;
}


@media (max-width: 768px) {
    .circles {
        gap: 40px;
        padding: 30px 0;
    }

    .circle01 {
        width: 100px;
        height: 100px;
    }

    .circle01 h1 {
        font-size: 24px;
    }

    .circle-item p {
        font-size: 12px;
    }

    .newsletter-title {
        font-size: 22px;
    }

    .newsletter-text {
        font-size: 14px;
        max-width: 100%;
    }

    .email-input {
        width: 200px;
    }

    .subscribe-button {
        padding: 10px;
    }
}





@media (max-width: 480px) {
    .circles {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .circle01 {
        width: 80px;
        height: 80px;
    }

    .circle01 h1 {
        font-size: 20px;
    }

    .circle-item p {
        font-size: 10px;
    }

    .newsletter-title {
        font-size: 20px;
    }

    .newsletter-text {
        font-size: 12px;
    }

    .email-input {
        width: 180px;
    }
}


/*---------------------------------Footer Section---------------------------------*/



.main-child {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px 0px;
}

.child01, .child02, .child03, .child04 {
    flex: 1;
    margin: 30px;
}

.child01{
    font-size: 13px;
}

.child01 img{
    margin-left: 10px;
    margin-bottom: 5px;
     background-color: white;
     width: 60px;
     height: 60px;
     border-radius: 60%;
}

.child02{
    font-size: 13px;
}
.child02 h1{
               margin-bottom: 20px;
}

.week{
    color: orange;
    font-weight: bold;
}


.child03 h1{
              margin-bottom: 20px;
}
.text{
    
    color: white;
    font-size: 13px;
}


.insta-imgs{
    display: flex;
    gap: 5px;
}

.child-img img{
                  width: 100px;
                  height: 100px;
                  border: 1px solid white;
}

.copyright{
    background-color: #333;
    height: 40px;
    text-align: center;
}

.copyright h1{
                font-size: 13px;
                color: white;
                padding: 12px;
}




@media (max-width: 768px) {
    .main-child {
        flex-direction: column;
        align-items: center;
    }

    .child01 img {
        margin: 10px auto;
    }

    .child01, .child02, .child03, .child04 {
        text-align: center;
        width: 100%;
    }

    .insta-imgs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .child-img img {
        width: 80px;
        height: 80px;
    }

    .copyright h1 {
        font-size: 11px;
    }

    .child02 {
        text-align: center;
    }

    .child02 p {
        display: flex;
        justify-content: center;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }

    .week {
        min-width: 80px;
        font-size: 12px;
        font-weight: bold;
        color: orange;
        white-space: nowrap;
    }


}





@media (max-width: 480px) {
    .child01 img {
        width: 50px;
        height: 50px;
    }

    .child-img img {
        width: 60px;
        height: 60px;
    }

    .week {
        display: block;
    }

    .copyright h1 {
        font-size: 10px;
    }


    .child02 p {
        font-size: 11px;
    }

    .week {
        font-size: 11px;
        min-width: 60px;
    }
}